.header {
  @apply text-center py-16 px-4 bg-gray-100;
}

.title {
  @apply text-4xl font-bold mb-4 text-gray-800;
}

.subtitle {
  @apply text-xl text-gray-700;
}

.tag {
  @apply bg-black text-white px-4 py-2 rounded mx-2;
}