.footer {
  @apply bg-gray-700 text-white p-8 text-center mt-8;
}

.prevBtn {
  @apply bg-black text-white px-6 py-3 mr-2 cursor-not-allowed opacity-50 hover:opacity-50 transition;
}

.nextBtn {
  @apply bg-black text-white px-6 py-3 ml-2 hover:bg-gray-900 transition;
}

.text {
  @apply mt-4 text-gray-300;
}

.link {
  @apply text-white hover:underline;
}