.card {
  @apply bg-white rounded-lg shadow-md overflow-hidden mb-6;
}

.cardImage {
  @apply w-full h-80 object-cover;
}

.cardHeader {
  @apply p-6  border-gray-300;
}

.cardTitle {
  @apply text-3xl font-bold mb-3 text-gray-800;
}

.cardDate {
  @apply text-lg text-gray-600;
}

.opacity {
  @apply text-gray-400;
}

.cardBody {
  @apply p-6;
}

.cardBody p {
  @apply text-gray-700 mb-6 leading-relaxed;
}

.cardFooter {
  @apply flex justify-between items-center mt-6;
}

.readBtn {
  @apply bg-white border-2 border-gray-400 px-8 py-3 font-bold text-gray-800 hover:bg-gray-100 transition;
}

.comments {
  @apply text-gray-700 font-semibold hidden md:block;
}

.badge {
  @apply bg-black text-white px-3 py-1 rounded text-sm ml-3 inline-block;
}